<div
    class="grid w-screen h-screen grid-cols-3 gap-4 place-content-center bg-slate-800 bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 ">
    <div class="flex justify-center ">
        <div>
            <button (click)="goToCircularProgressBar()"
                class="p-2 bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% rounded-lg border-2 shadow-md active:scale-95 transition-all font-semibold text-white">
                Circular Progress Bar
            </button>
        </div>
    </div>
    <div class="flex justify-center ">
        <div>
            <button (click)="goToCircularProgressBarPureCss()"
                class="p-2 font-semibold text-white transition-all border-2 rounded-lg shadow-md bg-gradient-to-r from-sky-400 via-rose-400 to-lime-400 active:scale-95">
                Circular Progress Bar Pure CSS
            </button>
        </div>
    </div>
    <div class="flex justify-center ">
        <div>
            <button (click)="goTo3dCard()"
                class="p-2 font-semibold text-white transition-all border-2 rounded-lg shadow-md bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900 active:scale-95">
                3D Card
            </button>
        </div>
    </div>
    <div class="flex justify-center ">
        <div>
            <button (click)="goToCursorAnimation()"
                class="p-2 font-semibold text-white transition-all border-2 rounded-lg shadow-md bg-gradient-to-r from-indigo-400 via-red-400 to-yellow-400 active:scale-95">
                Cursor Animation
            </button>
        </div>
    </div>
    <div class="flex justify-center ">
        <div>
            <button (click)="gotoGlitter()"
                class="p-2 font-semibold text-white transition-all border-2 rounded-lg shadow-md bg-gradient-to-r from-indigo-400 via-red-400 to-yellow-400 active:scale-95">
                Glitter Animation
            </button>
        </div>
    </div>
    <div class="flex justify-center ">
        <div>
            <button (click)="gotoRandomGlitter()"
                class="p-2 font-semibold text-white transition-all border-2 rounded-lg shadow-md bg-gradient-to-r from-indigo-400 via-red-400 to-yellow-400 active:scale-95">
                Random Glitter
            </button>
        </div>
    </div>
    <div class="flex justify-center ">
        <div>
            <button (click)="gotoGraphLine()"
                class="p-2 bg-gradient-to-br from-indigo-800 from-10% via-sky-200  to-emerald-800 to-90% rounded-lg border-2 shadow-md active:scale-95 transition-all font-semibold text-white">
                graph line animattion
            </button>
        </div>
    </div>
    <div class="flex justify-center ">
        <div>
            <button (click)="goToCoolGrid()"
                class="p-2 font-semibold text-white transition-all border-2 rounded-lg shadow-md bg-gradient-to-r from-slate-900 via-blue-900 to-slate-900 active:scale-95">
                Grid But Cool
            </button>
        </div>
    </div>
</div>