<div class="grid grid-cols-1  place-content-center h-screen w-screen bg-slate-800 bg-gradient-to-br from-pink-300 via-purple-300 to-indigo-400 ">
    <div class=" h-full w-full">
        <div class="flex justify-center ">
            <button (click)="decrease()"
                class="border-2 p-2 bg-zinc-100 h-12 w-12 text-3xl mr-3 rounded-full leading-6 mt-14 active:scale-95 transition-all shadow-md active:shadow-none">-</button>
            <div class="p-2 border-2 rounded-full   shadow-inner mr-3 ">
                <svg class="w-32 h-32 ">
                    <circle [@shrinkOut]="'in'" [style.stroke-dasharray]="circumference"
                        [style.stroke-dashoffset]="circumference - (percent / 100) * circumference"
                        class="text-white transition-all duration-150 ease-in-out " stroke-width="12"
                        stroke-linecap="round" stroke="currentColor" fill="transparent" r="48" cx="64" cy="64" />
                </svg>
            </div>
            <button (click)="increase()"
                class="border-2 p-2 bg-zinc-100 h-12 w-12 text-3xl mr-3 rounded-full leading-5 mt-14 active:scale-95 transition-all shadow-md active:shadow-none">+</button>
        </div>
        <div class="flex justify-center mt-12  text-white font-semibold text-2xl">
            {{percent}}</div>
    </div>
</div>