<div
    class="grid grid-cols-1  place-content-center bg-opacity-0 opacity-30">


    <div id="line1"
        class="absolute left-3 rounded-full bottom-1 opacity-25 h-3 w-1 origin-bottom bg-gradient-to-t from-green-400 via-green-400 to-blue-400   transition-all duration-1000 rotate-45 ">
        <div id="line2"
            class="-rotate-90 relative  rounded-full  h-1 w-1 origin-top bg-gradient-to-t from-blue-400 via-blue-400 to-blue-400 transition-all duration-1000 ">
            <div id="line3"
                class="absolute rounded-full rotate-90 bottom-1 ml-0.5 h-1 w-1 origin-bottom bg-gradient-to-t from-blue-400 via-green-400 to-green-400  right-1 transition-all duration-[2000ms] ">
            </div>
        </div>
    </div>


    <div id="line4"
        class="absolute left-12 bottom-1 opacity-25 h-3 w-1 origin-bottom bg-gradient-to-t from-green-400 via-green-400 to-blue-400   transition-all duration-700 rotate-45 ">
        <div id="line5"
            class="-rotate-90 relative   h-1 w-1 origin-top bg-gradient-to-t from-blue-400 via-blue-400 to-blue-400 transition-all duration-[1300ms] ">
            <div id="line6"
                class="absolute rotate-90 bottom-1 ml-0.5 h-1 w-1 origin-bottom bg-gradient-to-t from-blue-400 via-green-400 to-green-400  right-1 transition-all duration-[1000ms] ">
            </div>
        </div>
    </div>


</div>